<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="smartconnect">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] | %-18marker | %-5level %logger{1.} [%line] - %msg%n%throwable}{FATAL=black,ERROR=red,WARN=yellow,INFO=black,DEBUG=green,TRACE=cyan}"/>
        </Console>
        <File name="MonitoringFile" fileName="logs/app.log" append="true">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] | %-18marker | %-5level %logger{1.} [%line] - %enc{%msg}%n}{FATAL=black,ERROR=red,WARN=yellow,INFO=black,DEBUG=green,TRACE=cyan}"/>
        </File>

        <RollingFile name="MonitoringRollingFile" fileName="logs/monitoring.log"
                     filePattern="logs/%d{yyyy-MM-dd}/monitoring-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1.} - %enc{%msg}%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="7" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="MonitoringFile"/>
        </Root>
        <Root level="debug">
            <AppenderRef ref="MonitoringRollingFile"/>
        </Root>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>